<ion-view title="Applications" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-item class="item-left">

      <img style="width:50%;" src="https://www.accenture.com/t20170325T025930__w__/us-en/_acnmedia/Accenture/Dev/ComponentImages/logo-accenture.svg">
      <a ui-sref="menu.login()">
        <button class="button button-calm item-right button-outline" style="float:right;margin-top:08%" ng-if="!autenticated()">Login</button>
      </a>
    </ion-item>
    <h2 id="applications-heading7" style="color:#11C1F3;font-weight:300;text-align:center;">Serviços de A . I</h2>
    <div id="applications-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Filtros: Applications /
        <strong>Cards</strong>
      </p>
    </div>
    <div class="list card" id="applications-card213">
      <ion-item class="item-avatar" id="applications-list-item18">
        <img src="img/AAEAAQAAAAAAAAeSAAAAJDE5ZmVhOTBlLTU4YzctNDI0NC05NmQ0LTJmYTdiMGJjMzY3Nw.png">
        <h2>Technology Vision 2017</h2>
        <p>Technology for People</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/Accenture-Tech-Vision-2017-Thumbnail.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">We're in the era of the intelligent enterprise. Find out how to get yours ready for the future with five new trends you need to lead.</p>
        </div>
        <br>
      </div>
      <ion-item class=" calm">
        <div>
          <img src="https://lauramerikay.files.wordpress.com/2016/02/5-stars.jpg" style="float:left;width:50%;">
        </div>
        <div style="float:right;">
          <button class="button button-calm item-right button-outline" style="float:right;margin-top:-5%">
            Detalhes
          </button>
        </div>
      </ion-item>
    </div>
    <div class="list card" id="applications-card214">
      <ion-item class="item-avatar" id="applications-list-item19">
        <img src="img/Accenture-Retouch-Marquee.jpg">
        <h2>Is your IT workforce ready </h2>
        <p>To adapt to the digital world? </p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/business-viaggi-Fotolia_43895019_Subscription_Monthly_XXL.jpg.aspxwidth300height200" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;"></p>
          <p> Accenture shares three strategies to assemble a liquid workforce to match the fluidity of business today.
          </p>
        </div>
        <br>
      </div>
      <ion-item class=" calm">
        <div>
          <img src="https://lauramerikay.files.wordpress.com/2016/02/5-stars.jpg" style="float:left;width:50%;">
        </div>
        <div style="float:right;">
          <button class="button button-calm item-right button-outline" style="float:right;margin-top:-5%">
            Detalhes
          </button>
        </div>
      </ion-item>
    </div>
    <div class="list card" id="applications-card215">
      <ion-item class="item-avatar" id="applications-list-item20">
        <img src="img/Accenture-laurence-morvan.pnglaen">
        <h2>Technology</h2>
        <p>Like time, waits for no one.</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/Accenture-Automated-thumbmail.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;"> Are you keeping up? Embrace the disruptive and rotate to the New.
          </p>
        </div>
        <br>
      </div>
      <ion-item class=" calm">
        <div>
          <img src="https://lauramerikay.files.wordpress.com/2016/02/5-stars.jpg" style="float:left;width:50%;">
        </div>
        <div style="float:right;">
          <button class="button button-calm item-right button-outline" style="float:right;margin-top:-5%">
            Detalhes
          </button>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>