<ion-view title="ARE FEDERAL AGENCIES   CLOUD READY?" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <ion-item class="item-left">

        <img style="width:50%;" src="https://www.accenture.com/t20170325T025930__w__/us-en/_acnmedia/Accenture/Dev/ComponentImages/logo-accenture.svg">
        <a ui-sref="menu.login()">
          <button class="button button-calm item-right button-outline" style="float:right;margin-top:08%" ng-if="!autenticated()">Login</button>
        </a>
      </ion-item>
      <br>
    </div>
    <div id="aREFEDERALAGENCIESCLOUDREADY-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Filtros: Cloud Computing / Cards /
        <strong>
          ARE FEDERAL AGENCIES CLOUD READY?</strong>
      </p>
    </div>
    <div>
      <img src="img/Accenture-Cloud-Marquee.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
     <a id="devOps-button32" class="button button-calm button-outline marger right" ui-sref="menu.orcamento()"> <i class="icon ion-clipboard"></i> Quero Saber Mais</a>
    <br><br>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div id="aREFEDERALAGENCIESCLOUDREADY-container11">
      <div id="aREFEDERALAGENCIESCLOUDREADY-markdown22" class="show-list-numbers-and-dots">
        <hr>
      </div>
    </div>
    <div id="aREFEDERALAGENCIESCLOUDREADY-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#000000;">In 2011, the White House formally committed to a Cloud First strategy, citing the potential for mass cost savings and improved agility as key drivers. Cybersecurity was another emerging priority as threats to legacy systems evolved. However, according
        to a 2016 flash poll by Government Business Council, federal employees now feel true cloud readiness also means addressing technical and business case requirements which are integral to the migration.</p>
    </div>
    <div>
      <a href="https://www.accenture.com/us-en/blogs/blogs-nicola-morini-bianzino-responsible-ai">The responsible AI imperative</a>
      <br>
      <br>
    </div>
    <div class="creator-container" style="width:70%;" id="rate-stars">
      <p>Avaliar:</p>
      <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5">
        <label class="full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half">
        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4">
        <label class="full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half">
        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3">
        <label class="full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half">
        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2">
        <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half">
        <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1">
        <label class="full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="half">
        <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
      </fieldset>

    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <div id="aREFEDERALAGENCIESCLOUDREADY-container12">
      <h4 id="aREFEDERALAGENCIESCLOUDREADY-heading11" style="color:#000000;">Notas e Comentários:</h4>
      <div id="aREFEDERALAGENCIESCLOUDREADY-markdown24" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Muito bom</strong>
          <br>Some friendly coment.</p>
      </div>
      <hr>
      <div id="aREFEDERALAGENCIESCLOUDREADY-markdown25" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Ótimo</strong>
          <br>Some friendly coment.</p>
      </div>
    </div>
  </ion-content>
</ion-view>