<ion-view title="Artificial Intelligence" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-item class="item-left">

      <img style="width:50%;" src="https://www.accenture.com/t20170325T025930__w__/us-en/_acnmedia/Accenture/Dev/ComponentImages/logo-accenture.svg">
      <a ui-sref="menu.login()">
        <button class="button button-calm item-right button-outline" style="float:right;margin-top:08%" ng-if="!autenticated()">Login</button>
      </a>
    </ion-item>
    <h2 id="artificialIntelligence-heading3" style="color:#11C1F3;font-weight:300;text-align:center;">Serviços de A . I</h2>
    <div id="artificialIntelligence-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Filtros: Artificial Intelligence /
        <strong>Cards</strong>
      </p>
    </div>
    <div class="list card" id="artificialIntelligence-card21">
      <ion-item class="item-avatar" id="artificialIntelligence-list-item5">
        <img src="img/AAEAAQAAAAAAAAeSAAAAJDE5ZmVhOTBlLTU4YzctNDI0NC05NmQ0LTJmYTdiMGJjMzY3Nw.png">
        <h2>The Future of A.I</h2>
        <p>Leading the charge toward Responsible AI</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/Accenture-Turn-AI-into-business_534x300" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">AI promises great opportunity, and with that comes great responsibility for government and enterprise leaders alike.</p>
        </div>
        <br>
      </div>
      <div id="artificialIntelligence-container6">
        <a ui-sref="menu.futureOfAI()" id="artificialIntelligence-button24" class="button button-calm button-outline marger right">Details</a>
      </div>
      <div class="creator-container" style="width:70%;margin-top:10px;;margin-left:10px" id="rate-stars">

        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" checked="checked">
          <label class="full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half">
          <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4">
          <label class="full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half">
          <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3">
          <label class="full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half">
          <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2">
          <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half">
          <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1">
          <label class="full" for="star1" title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half">
          <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>

      </div>
    </div>
    <div class="list card" id="artificialIntelligence-card22">
      <ion-item class="item-avatar" id="artificialIntelligence-list-item7">
        <img src="img/Accenture-paul-daugherty.pnglaen">
        <h2>Boost your AIQ</h2>
        <p>Transforming into an AI business.</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/Accenture-marquee" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">At a time when many economies are struggling to recapture rates of productivity and growth, AI promises to form a major part of the solution.</p>
        </div>
        <br>
      </div>
      <ion-item class=" calm">
        <div>
          <img src="https://lauramerikay.files.wordpress.com/2016/02/5-stars.jpg" style="float:left;width:50%;">
        </div>
        <div style="float:right;">
          <button class="button button-calm item-right button-outline" style="float:right;margin-top:-5%">
            Detalhes
          </button>
        </div>
      </ion-item>
    </div>
    <div class="list card" id="artificialIntelligence-card23">
      <ion-item class="item-avatar" id="artificialIntelligence-list-item8">
        <img src="img/Accenture-laurence-morvan.pnglaen">
        <h2>AI boosts profits and innovation</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/Accenture-AI-Reshaping-v1" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;"></p>Declining profitability threatens to erode investment, innovation and shareholder value. Read how artificial intelligence (AI) can boost profitability and innovation.
          <p></p>
        </div>
        <br>
      </div>
      <ion-item class=" calm">
        <div>
          <img src="https://lauramerikay.files.wordpress.com/2016/02/5-stars.jpg" style="float:left;width:50%;">
        </div>
        <div style="float:right;">
          <button class="button button-calm item-right button-outline" style="float:right;margin-top:-5%">
            Detalhes
          </button>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>