<ion-view title="Categorias" id="page18">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.adicionarCategoria()" id="categorias-button50" style="text-align:left;" class="button button-positive button-outline icon-left ion-android-add-circle">Categoria</a>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <ion-list id="categorias-list4">
      <ion-item class="item-icon-left balanced" id="categorias-list-item25" ng-repeat="lists in list">
        <i class="icon ion-ios-pulse-strong"></i>{{lists.nome}}
        <ion-option-button class="button-assertive">Deletar</ion-option-button>
        <ion-option-button class="button-positive">Alterar</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>