<ion-view title="Cloud" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-item class="item-left">

      <img style="width:50%;" src="https://www.accenture.com/t20170325T025930__w__/us-en/_acnmedia/Accenture/Dev/ComponentImages/logo-accenture.svg">
      <a ui-sref="menu.login()">
        <button class="button button-calm item-right button-outline" style="float:right;margin-top:08%" ng-if="!autenticated()">Login</button>
      </a>
    </ion-item>
    <h2 id="cloud-heading5" style="color:#11C1F3;font-weight:300;text-align:center;">Cloud Computing</h2>
    <div id="cloud-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Filtros: Cloud Computing /
        <strong>Cards</strong>
      </p>
    </div>
    <div class="list card" id="cloud-card27">
      <ion-item class="item-avatar" id="cloud-list-item12">
        <img src="img/AAEAAQAAAAAAAAeSAAAAJDE5ZmVhOTBlLTU4YzctNDI0NC05NmQ0LTJmYTdiMGJjMzY3Nw.png">
        <h2>CLOUD</h2>
        <p>A lens on the people, processes and technology you need for a successful journey to cloud.</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/Accenture-Cloud-marquee.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">n a few short years, cloud has transformed business in ways previously impossible to imagine. Today, organizations tap cloud-based hardware, software and services to boost agility, increase competitiveness and innovate faster than ever before.
            Cloud is both a catalyst and a connector. Cloud offers the ability to source, scale and deliver computing capacity on demand. Powered by a public, private or hybrid cloud, organizations are better equipped to handle changing business needs
            and create new services to improve performance.</p>
        </div>
        <br>
      </div>
      <a ui-sref="menu.cloud2()" id="cloud-button28" class="button button-calm button-outline marger right">Details</a>
      <div class="creator-container" style="width:70%;margin-top:10px;;margin-left:10px" id="rate-stars">

        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" checked="checked">
          <label class="full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half">
          <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4">
          <label class="full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half">
          <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3">
          <label class="full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half">
          <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2">
          <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half">
          <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1">
          <label class="full" for="star1" title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half">
          <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>

      </div>
    </div>
    <div class="list card" id="cloud-card28">
      <ion-item class="item-avatar" id="cloud-list-item13">
        <img src="img/Accenture-Rodrigo-Flores.png">
        <h2>Cloud technology brings new roles for IT</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/Accenture-Insight-Cloud-Migration.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">I’ve spent a lot of time recently with IT directors and staffs of major businesses. I’ve noticed that while all of their IT organizations have their own circumstances, hurdles and aspirations, they have certain things in common, too. .
          </p>
        </div>
        <br>
      </div>
      <a ui-sref="menu.cloudTechnologyBringsNewRolesForIT()" id="cloud-button29" class="button button-calm button-outline marger right">Details</a>
      <div class="creator-container" style="width:70%;margin-top:10px;;margin-left:10px" id="rate-stars">

        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" checked="checked">
          <label class="full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half">
          <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4">
          <label class="full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half">
          <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3">
          <label class="full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half">
          <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2">
          <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half">
          <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1">
          <label class="full" for="star1" title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half">
          <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>

      </div>
    </div>
    <div class="list card" id="cloud-card29">
      <ion-item class="item-avatar" id="cloud-list-item14">
        <img src="img/Accenture-Dominic-Delmolino.jpglaenh180w180">
        <h2>ARE FEDERAL AGENCIES CLOUD READY?</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/Accenture-Cloud-Marquee.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;"></p>In 2011, the White House formally committed to a Cloud First strategy, citing the potential for mass cost savings and improved agility as key drivers. Cybersecurity was another emerging priority as threats to legacy systems evolved.
          <p></p>
        </div>
        <br>
      </div>
      <a ui-sref="menu.aREFEDERALAGENCIESCLOUDREADY()" id="cloud-button30" class="button button-calm button-outline marger right">Details</a>
      <div class="creator-container" style="width:70%;margin-top:10px;;margin-left:10px" id="rate-stars">

        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" checked="checked">
          <label class="full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half">
          <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4">
          <label class="full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half">
          <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3">
          <label class="full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half">
          <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2">
          <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half">
          <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1">
          <label class="full" for="star1" title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half">
          <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>

      </div>
    </div>
  </ion-content>
</ion-view>