<ion-view title="Cloud technology brings new roles for IT" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <ion-item class="item-left">

        <img style="width:50%;" src="https://www.accenture.com/t20170325T025930__w__/us-en/_acnmedia/Accenture/Dev/ComponentImages/logo-accenture.svg">
        <a ui-sref="menu.login()">
          <button class="button button-calm item-right button-outline" style="float:right;margin-top:08%" ng-if="!autenticated()">Login</button>
        </a>
      </ion-item>
      <br>
    </div>
    <div id="cloudTechnologyBringsNewRolesForIT-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Filtros: Cloud Computing / Cards /
        <strong> Cloud technology brings new roles for IT</strong>
      </p>
    </div>
    <div>
      <img src="img/Accenture-Insight-Cloud-Migration.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div id="cloudTechnologyBringsNewRolesForIT-container9">
      <div id="cloudTechnologyBringsNewRolesForIT-markdown17" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">
          <strong>Commentary from our cloud experts around the globe</strong>
        </p>
      </div>
    </div>
    <div id="cloudTechnologyBringsNewRolesForIT-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">I’ve spent a lot of time recently with IT directors and staffs of major businesses. I’ve noticed that while all of their IT organizations have their own circumstances, hurdles and aspirations, they have certain things in common, too.</p>

      <p style="color:#000000;">Isolation. Physical separation can make it difficult for IT teams to feel like they are really part of the larger business.</p>

      <p style="color:#000000;">IT organizations often live in their own worlds. Whereas the corporate headquarters might be housed in a glitzy high-rise tower in the city center, data centers and IT professionals are “offsite,” most likely in suburbs where rents are more affordable
        and facilities are large enough to accommodate the growing IT estate.</p>

      <p style="color:#000000;">Skepticism. Leaders have asked me point blank, “will a move to the cloud give me less control of IT”, and “will I lose relevance”?</p>

      <p style="color:#000000;">Many IT leaders have real concerns about cloud adoption, with data security and regulatory compliance topping the list. But often there’s a broader concern about what a cloud migration might mean for the IT organization, as a whole.</p>

      <p style="color:#000000;">Disempowerment. Shadow IT efforts undermine the IT organization’s authority and perpetuate IT leaders’ suspicions that cloud will make traditional IT obsolete.</p>

      <p style="color:#000000;">In many companies, parts of the business are already moving to the public cloud without the involvement of the IT organization. The move of a particular process or app is typically the handiwork of business unit renegades looking to take advantage
        of an agile DevOps environment.</p>

      <p style="color:#000000;">IT leaders are more than willing to discuss what cloud can do for their business.</p>

      <p style="color:#000000;">They are uniformly smart people. And they agree in theory that cloud computing solutions can help them create an IT organization that is more—efficient, effective, agile, responsive, and just more whatever. Where their skepticism and fear come in
        is when the discussion shifts to retaining control during the cloud migration. IT leaders understand the “what” and “why” of the cloud; they stumble at the “how.”</p>

      <p style="color:#000000;">I always take IT leaders’ concerns about cloud adoption seriously. They are legitimate, and they underpin the reality that a lot of these leaders live in. I need to understand them before I can convey what I truly believe (and have seen countless
        times): that the journey to cloud makes IT organizations more—not less—relevant, and less—not more--isolated.</p>

      <p style="color:#000000;">Finally, a new control plane opens the “hearts and minds” of IT leaders.</p>

      <p style="color:#000000;">I’ve found that a vision for a new control plane not only helps ease their minds, but also opens their minds to new cloud opportunities. It provides a high-level roadmap for change, and depicts how roles, processes and tools will evolve in an organization’s
        move to the cloud.</p>

      <p style="color:#000000;">My vision for the new control plane:</p>

      <p style="color:#000000;">Rodrigo's vision for the new control plane</p>

      <p style="color:#000000;">Cloud migration brings a new set of roles for IT</p>

      <p style="color:#000000;">Traditionally, IT leaders have a set of roles focused on activities such as incident management, application performance management and services management. These roles rely on certain tools to carry out their tasks and effectively manage ITIL and
        service assurance processes.</p>

      <p style="color:#000000;">Once the cloud migration is under way, possibly with the assistance of a third-party provider’s App Owner, new roles appear.</p>

      <p style="color:#000000;">Cloud administrators will be needed to manage the estate of legacy and cloud applications.</p>

      <p style="color:#000000;">Financial administrators will be needed to manage payment of the cloud as-a-service offerings.</p>

      <p style="color:#000000;">Software developers will become increasingly necessary to take full advantage of the agility and speed that a cloud infrastructure will bring to the software development process.</p>

      <p style="color:#000000;">These new resources—some of whom may come from the talent pool previously dedicated to service management—will rely on new tools such as the Accenture Cloud Platform or continuous improvement/continuous deployment approaches to optimize cost and
        drive new innovations. Middleware and an integrated service bus supports the new control plane, end to end.</p>

      <p style="color:#000000;">Seeing the new landscape laid out this way can help IT leaders understand what a cloud migration might mean for them. Looking at the cloud through the lens of a new control plane helps them realize that the transition is not something to fear or
        resist, but something to celebrate. At the end of the day, embracing cloud computing technologies gives them greater, not less, control. And it puts them back in the driver’s seat, where they belong.</p>
    </div>
    <div>
      <a href="https://www.accenture.com/us-en/blogs/blogs-nicola-morini-bianzino-responsible-ai">The responsible AI imperative</a>
      <br>
      <br>
    </div>
    <div class="creator-container" style="width:70%;" id="rate-stars">
      <p>Avaliar:</p>
      <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5">
        <label class="full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half">
        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4">
        <label class="full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half">
        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3">
        <label class="full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half">
        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2">
        <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half">
        <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1">
        <label class="full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="half">
        <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
      </fieldset>

    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <div id="cloudTechnologyBringsNewRolesForIT-container10">
      <h4 id="cloudTechnologyBringsNewRolesForIT-heading10" style="color:#000000;">Notas e Comentários:</h4>
      <div id="cloudTechnologyBringsNewRolesForIT-markdown19" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Muito bom</strong>
          <br>Some friendly coment.</p>
      </div>
      <hr>
      <div id="cloudTechnologyBringsNewRolesForIT-markdown20" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Ótimo</strong>
          <br>Some friendly coment.</p>
      </div>
    </div>
  </ion-content>
</ion-view>