<ion-view title="MAKING DEVOPS AT SCALE STICK" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <ion-item class="item-left">

        <img style="width:50%;" src="https://www.accenture.com/t20170325T025930__w__/us-en/_acnmedia/Accenture/Dev/ComponentImages/logo-accenture.svg">
        <a ui-sref="menu.login()">
          <button class="button button-calm item-right button-outline" style="float:right;margin-top:08%" ng-if="!autenticated()">Login</button>
        </a>
      </ion-item>
      <br>
    </div>
    <div id="mAKINGDEVOPSATSCALESTICK-markdown36" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Filtros: Cloud Computing / Cards /
        <strong>
          MAKING DEVOPS AT SCALE STICK</strong>
      </p>
    </div>
    <div>
      <img src="img/Accenture-DevOps-updated.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div id="mAKINGDEVOPSATSCALESTICK-container17">
      <div id="mAKINGDEVOPSATSCALESTICK-markdown37" class="show-list-numbers-and-dots">
        <hr>
      </div>
    </div>
    <div id="mAKINGDEVOPSATSCALESTICK-markdown38" class="show-list-numbers-and-dots">
      <p style="color:#000000;">After an unsuccessful external search for trainers, we developed our own two-day training course to introduce our people to DevOps principles and technologies.</p>

      <p style="color:#000000;">The primary objective was to build a critical mass of people who understand what “good” looks like in DevOps, what delivery entails and what benefits this provides.</p>

      <p style="color:#000000;">This process generated a large (and growing) number of people who’ve seen DevOps in operation, can talk knowledgeably about it and recognize the bar for which they’re aiming.</p>

      <p style="color:#000000;">GET EQUIPPED: GLUING TOGETHER THE BEST-OF-BREED TOOLSET</p>

      <p style="color:#000000;">Get equipped: Gluing together the best-of-breed toolset Giving people the best-of-breed tool set to deliver projects the DevOps way has been vital. Our Accenture DevOps Platform played a pivotal role.</p>

      <p style="color:#000000;">Originally developed as the lab environment for our training course, the DevOps Academy, we quickly realized that it could also be hugely valuable to support client work.</p>

      <p style="color:#000000;">The platform enabled us to demonstrate (very persuasively) what can be achieved through DevOps.</p>

      <p style="color:#000000;">Functionally, it’s a framework for gluing together a suite of open source development tools and providing a means to mobilize software development projects rapidly and in a consistent, standardized way.</p>
    </div>
    <div>
      <a href="https://www.accenture.com/us-en/blogs/blogs-nicola-morini-bianzino-responsible-ai">The responsible AI imperative</a>
      <br>
      <br>
    </div>
    <div class="creator-container" style="width:70%;" id="rate-stars">
      <p>Avaliar:</p>
      <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5">
        <label class="full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half">
        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4">
        <label class="full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half">
        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3">
        <label class="full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half">
        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2">
        <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half">
        <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1">
        <label class="full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="half">
        <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
      </fieldset>

    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <div id="mAKINGDEVOPSATSCALESTICK-container18">
      <h4 id="mAKINGDEVOPSATSCALESTICK-heading14" style="color:#000000;">Notas e Comentários:</h4>
      <div id="mAKINGDEVOPSATSCALESTICK-markdown39" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Muito bom</strong>
          <br>Some friendly coment.</p>
      </div>
      <hr>
      <div id="mAKINGDEVOPSATSCALESTICK-markdown40" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Ótimo</strong>
          <br>Some friendly coment.</p>
      </div>
    </div>
  </ion-content>
</ion-view>