<ion-view title="MarketPlace" id="page3" ng-init="doRefresh()" cache-view="false">
  <ion-content padding="true" class="has-header" ng-controller="categsController">
    <ion-refresher on-refresh="doRefresh()">
     </ion-refresher>                   
    <h4 id="marketPlace-heading15" ng-if="autenticated()" style="color:#7C7C7C;text-align:center;" ng-controller="marketPlaceCtrl">Seja bem vindo, {{userData.name}}</h4>
    <ion-item class="item-left">
     <!-- <h4 ng-repeat="lists in list">{{lists}}</h4>-->
      <img style="width:50%;" src="https://www.accenture.com/t20170325T025930__w__/us-en/_acnmedia/Accenture/Dev/ComponentImages/logo-accenture.svg">
      <a ui-sref="menu.login()">
        <button class="button button-calm item-right button-outline" style="float:right;margin-top:08%" ng-if="!autenticated()">Login</button>
      </a>
    </ion-item>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="marketPlace-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="marketPlace-slide21" style="background:url(&quot;img/LZcqOxqCQKecRRl7aLrf_Ai.PNG&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="marketPlace-slide22" style="background:url(&quot;img/WdHXPZeuQUOUSNWv6zO5_DevOps.PNG&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="marketPlace-slide23" style="background:url(&quot;img/hJBvGvGMTF2GumWlnNw0_Cloud.PNG&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <div class="spacer"  style="width: 300px; height: 7px;"></div>
    <div>
    <h2 id="marketPlace-heading2" style="color:#11C1F3;font-weight:300;text-align:center;">Categorias</h2>
    <div id="marketPlace-button-bar2" class="button-bar">
      <a id="marketPlace-button48" ng-repeat="lists in list" ng-if="$index < 3" ui-sref="{{lists.link}}" class="button button-calm button-block button-outline">{{lists.nome}}</a>
    </div>
    <div id="marketPlace-button-bar2" class="button-bar">
      <a id="marketPlace-button48" ng-repeat="lists in list" ng-if="$index > 2 && $index < 6" ui-sref="{{lists.link}}" class="button button-calm button-block button-outline">{{lists.nome}}</a>
    </div>
    <div id="marketPlace-button-bar2" class="button-bar">
      <a id="marketPlace-button48" ng-repeat="lists in list" ng-if="$index > 5 && $index < 9" ui-sref="{{lists.link}}" class="button button-calm button-block button-outline">{{lists.nome}}</a>
    </div>
    <div id="marketPlace-button-bar2" class="button-bar">
      <a id="marketPlace-button48" ng-repeat="lists in list" ng-if="$index > 9 && $index < 13" ui-sref="{{lists.link}}" class="button button-calm button-block button-outline">{{lists.nome}}</a>
    </div>
     <div id="marketPlace-button-bar2" class="button-bar">
      <a id="marketPlace-button48" ng-repeat="lists in list" ng-if="$index > 13 && $index < 17" ui-sref="{{lists.link}}" class="button button-calm button-block button-outline">{{lists.nome}}</a>
    </div>
    </div> 
  
  </ion-content>
</ion-view>