<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content ng-init="doRefresh()">
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21" cache-view="false"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-right has-header ">
      <div class="list card" id="menu-card210" ng-if="autenticated()">
        <ion-item class="item-avatar calm" id="menu-list-item21">
          <img src="img/ce54bf11889067.562541ef7cde4.png">
          <h2calm>{{userData.name}}</h2calm>
        </ion-item>
        <div class="item item-body" id="menu-list-item-container2">
          <div id="menu-markdown44" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#757575;">
              <strong>Seja bem vindo</strong>
            </p>
          </div>
        </div>
      </div>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left energized" id="menu-list-item1" ui-sref="menu.criarartigo()" menu-close="" ng-show="isAdmin()">
          <i class="icon ion-ios-plus"></i>Criar Artigo</ion-item>
        <ion-item class="item-icon-left dark" id="menu-list-item1" ui-sref="menu.categorias()" menu-close="" ng-show="isAdmin()">
          <i class="icon ion-ios-book"></i>Categorias</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item2" ui-sref="menu.marketPlace()" menu-close="">
          <i class="icon ion-information-circled"></i>MarketPlace</ion-item>
        <ion-item class="item-icon-left balanced" id="menu-list-item3" ui-sref="menu.orcamento()" menu-close="">
          <i class="icon ion-clipboard" ng-if="autenticated()"></i>Quero Saber Mais!</ion-item>
        <ion-item class="item-icon-left assertive" id="menu-list-item4" ng-click="logout()" ng-if="autenticated()">
          <i class="icon ion-log-out"></i>Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>