<ion-view  title="Quero Saber Mais!" id="page19">  
  <ion-content padding="true" class="has-header" ng-controller="orcamentoController">
    <form class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Status:</span>
        <input ng-model="status" type="text" name="status" id="status">
      </label>
     <button class="button button-balanced button-block icon-right ion-android-mail" ng-click="updateOrcamento(id,status)">Enviar</button>
    </a> 
    </form> 
  </ion-content>
</ion-view>