<ion-view  title="Quero Saber Mais!" id="page19">  
  <ion-content padding="true" class="has-header" ng-controller="categsController">
    <form action="http://testenviaremail.000webhostapp.com/test.php" class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome:</span>
        <input type="text" name="nome" id="nome">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">E-mail:</span>
        <input type="email" name="email" id="email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Fone:</span>
        <input type="text" name="fone" id="fone">
      </label>
     <button class="button button-balanced button-block icon-right ion-android-mail"  ui-sref="menu.orcamentosucesso()" >Enviar</button>
    </a> 
    </form> 
  </ion-content>
</ion-view>