<ion-view title="Compra Finalizada" id="page19" >
  <ion-content padding="true" class="has-header" ng-controller="categsController">
     <form id="login-form2" class="list">
      <ion-item class="item-icon-left balanced" id="login-list-item4">
        <i class="icon ion-android-checkbox"></i>Contratado com sucesso!</ion-item>
      </ion-item>
      <ion-item class="item-icon-left balanced" id="login-list-item4">
        
       Boleto para pagamento:
        <br/>
        <br/>
        <img src="http://www.boletofast.com.br/imagens/carneBoleto.png" width="60%">
        <br/>


        <a class="button button-positive button-small" href="#" onclick="window.open('https://www.boletobancario.com/boletofacil/img/boleto-facil-exemplo.pdf', '_system', 'location=yes'); return false;">
                Fazer Download!
        </a>        
        </ion-item>
        
      </ion-item>
      </form>


    
    <button id="login-button4" class="button button-positive button-block" ui-sref="menu.marketPlace()">Voltar</button>
  </ion-content>
</ion-view>