<ion-view  title="Orçamento" id="page19">  
  <ion-content padding="true" class="has-header" ng-controller="categsController">
    <form action="http://testenviaremail.000webhostapp.com/test.php" class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome:</span>
        <input type="text" name="nome" id="nome">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">E-mail:</span>
        <input type="email" name="email" id="email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Fone:</span>
        <input type="text" name="fone" id="fone">
      </label>
      <label class="item item-select" id="menu-select2" name="topicos">
          <span class="input-label">Selecione um tópico:</span>
          <select name="topicos" id="topicos" style="margin-top:22px">
            <option value="Sem Tópicos">Tópicos</option>  
            <option  value="{{lists.nome}}" ng-repeat="lists in list">{{lists.nome}}</option>  
          </select>
        </label>
     <button class="button button-balanced button-block icon-right ion-android-mail"  ng-click="">Enviar</button>
    </form> 
  </ion-content>
</ion-view>