<ion-view title="What’s in a name?" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="whatSInAName-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Filtros: Cloud Computing / Cards /
        <strong>
          What’s in a name?</strong>
      </p>
    </div>
    <div>
      <ion-item class="item-left">

        <img style="width:50%;" src="https://www.accenture.com/t20170325T025930__w__/us-en/_acnmedia/Accenture/Dev/ComponentImages/logo-accenture.svg">
        <a ui-sref="menu.login()">
          <button class="button button-calm item-right button-outline" style="float:right;margin-top:08%" ng-if="!autenticated()">Login</button>
        </a>
      </ion-item>
      <br>
    </div>
    <div>
      <img src="img/Accenture-TechLabs-Blog-Acc-Com-187932095-V10-marquee.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div id="whatSInAName-container15">
      <div id="whatSInAName-markdown32" class="show-list-numbers-and-dots">
        <hr>
      </div>
    </div>
    <div id="whatSInAName-markdown33" class="show-list-numbers-and-dots">
      <p style="color:#000000;">I’ve been reflecting recently about my perspective on fundamentals such as “What is DevOps these days?”</p>

      <p style="color:#000000;">We all like to create taxonomies to make sense of things and I found myself grouping practitioners into three categories:</p>

      <p style="color:#000000;">People working for the DevOps poster-children (Netflix, Google etc.) are an inspiration to us all through what they achieve both with IT and through their willingness to be open and share.</p>

      <p style="color:#000000;">People working for large enterprises who are on tremendous journeys of DevOps transformation, have fantastic stories to tell, and are still living day-to-day around many things they would like to change dramatically.</p>

      <p style="color:#000000;">People who haven’t yet built up momentum around DevOps and seem slightly overwhelmed by stories from people in Categories 1 and 2.</p>

      <p style="color:#000000;">This blog is for the folks falling into Category #3.</p>

      <p style="color:#000000;">Truth #1: Improving IT is not at all new to DevOps(!)</p>

      <p style="color:#000000;">Whether you have just heard the name, or have been doing it for several years, if you are ambitious and passionate about what you do, you are without a doubt already committed to improving the IT function (and hence directly the business) in which
        you operate.</p>

      <p style="color:#000000;">Truth #2: Writing off DevOps as just a fashionable name for improving IT is a mistake.</p>

      <p style="color:#000000;">I believe the “doing DevOps” is something every organization must consciously start doing—today (if they haven’t already). It doesn’t take everyone (at first), or even everyone in particular business unit, department or team. It just takes at least
        two people to grit their teeth and agree that they are going to consciously make a collaborative effort to improve IT with a new level of energy, ambition and a “new” name…</p>

      <p style="color:#000000;">So here is what will be different once you start "doing DevOps."</p>

      <p style="color:#000000;">Just the act of starting something new and exciting will hopefully immediately inspire new levels of energy, motivation, ambition and sense of purpose (perhaps even create flow).</p>

      <p style="color:#000000;">You now have a useful name for your efforts to improve IT and one you can research to tap into the wealth of blogs, podcasts, meetups, conferences, Open Source, tools and lessons learned out there.</p>

      <p style="color:#000000;">You can now relate the things you are doing (and trying to do) to the practices demonstrated by DevOps poster children.</p>

      <p style="color:#000000;">You are now part of the huge support network in the form of the DevOps community which is built on a solid foundation of inclusivity and sharing.</p>

      <p style="color:#000000;">Your new community is filled with individuals and companies fully motivated by the opportunity to share their experiences for the greater good of our industry and the greater good for society and humanity.</p>

      <p style="color:#000000;">You have a better chance than ever of getting internal investment in your cause (DevOps being in vogue has advantages).</p>

      <p style="color:#000000;">By stating (especially in public) your ambition and commitment to build a lean, automated, responsive and reliable IT organization, you are now more likely to be able to grow an inspired workforce and more likely to attract talent from outside.</p>

      <p style="color:#000000;">So my advice (especially to people who identify with Category 3) is as follows:</p>

      <p style="color:#000000;">Don’t let anyone tell you aren’t doing DevOps (it’s a journey).</p>

      <p style="color:#000000;">If you are doing DevOps on any scale in your company, don’t let anyone convince you that you are not key to the future success of the organization (YOU ARE!).</p>

      <p style="color:#000000;">Don’t feel disheartened by where you think your organization is today relative to some kind of DevOps utopia/companies you read about/your perceived view of your peers. It’s the rate in which you can learn to continuously improve IT within your
        organization that will secure your organization’s future and not at all precisely where you are today.</p>

      <p style="color:#000000;">Don’t down play your ambitions, hard learned lessons, or your achievements to date—celebrate and share them!</p>
    </div>
    <div>
      <a href="https://www.accenture.com/us-en/blogs/blogs-nicola-morini-bianzino-responsible-ai">The responsible AI imperative</a>
      <br>
      <br>
    </div>
    <div class="creator-container" style="width:70%;" id="rate-stars">
      <p>Avaliar:</p>
      <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5">
        <label class="full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half">
        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4">
        <label class="full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half">
        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3">
        <label class="full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half">
        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2">
        <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half">
        <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1">
        <label class="full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="half">
        <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
      </fieldset>

    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <div id="whatSInAName-container16">
      <h4 id="whatSInAName-heading13" style="color:#000000;">Notas e Comentários:</h4>
      <div id="whatSInAName-markdown34" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Muito bom</strong>
          <br>Some friendly coment.</p>
      </div>
      <hr>
      <div id="whatSInAName-markdown35" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Ótimo</strong>
          <br>Some friendly coment.</p>
      </div>
    </div>
  </ion-content>
</ion-view>